
#wrap{
  width : 970px;
  background-color: DarkBlue;
  height: auto;
  padding: 10px;
}
a{
  color:Cyan;
  text-decoration: underline;
}
div #topbanner{
  margin: 20px 10px;
  background-color: red;
  color:white;
  padding: 10px;
  border-radius: 10px;


}
div #navbar{
  display: inline-block;
  vertical-align: top;
  background-color: CornflowerBlue;
  padding: 10px;
  border-radius: 10px;
  margin:0px 10px;
  width:185px
}
ul{
  padding-right: 5px;
  padding-left: 20px;
}

div #content{
  display: inline-block;
  padding:10px;
  border-radius: 10px;
  vertical-align: top;
  color:white;
  background-color: Black;
  width:720px;
  margin:0px 0px 10px 0px;
  opacity: 20%;
}
span.purple{
color:purple;

}
div #bottombanner{
  border-radius: 10px;
  margin:10px 10px;
  background-color: grey;
  padding: 10px;
  color:white;


}
